        .h1-container {
            background-color: black;
            font-size: xx-large;
            font-family: Verdana;
        }
        h1 {
            color: goldenrod;
            font-size: xx-large;
            font-family: Verdana;
            margin-left: 16px;
            text-align: center;
        }
        .container-body {
            font-size: large;
            font-family: verdana;
            text-align: center;
        }
        body {
            margin: 0;
        }
        .body-img {
            width: 100%;
            object-fit: cover;
        }
        .menu-link-body {
            color: black;
            text-decoration: none;
            margin-right: 24px;
            margin-left: 24px;
        }
        .menu-link-body:hover {
            text-decoration: underline;
        }
        .container-footer {
            font-size: large;
            font-family: verdana;
        }
        .menu-link-footer {
            color: black;
            text-decoration: none;
            margin-right: 24px;
            margin-left: 24px;
        }
        .menu-link-footer:hover {
            text-decoration: underline;
        }
        footer {
            text-align: center;
        }